<h1>School Plus</h1>
<p>An Advance School Management Tool</p>

<% if current_user.present? %>
  <!-- for admin -->
  <% if current_user.admin? %>
    <%= link_to "Manage School", schools_path %><br>
    <%= link_to "Manage User", users_path %><br>
  <% end %>

  <!-- for school admin -->
  <% if current_user.school_admin? %>
    <%= link_to "Update School Info", edit_school_path(@school.id) %><br>
    <%= link_to "Manage Courses", school_courses_path(school_id: @school.id) %><br>
    
    <%= link_to "Manage Students", users_path %><br>
    <%= link_to "Manage Enrollment Requests" %><br>
  <% end %>
  
  <!-- for students -->
  <% if current_user.student? %>
    <%= link_to "Classmates", users_path %><br>
    <%= link_to "Enrol" %><br>
  <% end %>
<% end %>