<%= link_to "Home", root_path %>
<%= link_to "Create", new_school_course_path(school_id: @school.id) %>

<br><br>

<table class="table table-striped">
  <thead>
   <tr>
     <th>ID</th>
     <th>Name</th>
     <th>Duration</th>
     <br />
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.id %></td>
        <td><%= course.title %></td>
        <td><%= course.duration %></td>
        <td>
          <%= link_to "Edit", edit_school_course_path(school_id: @school.id, id: course.id) %>
          <%= link_to "Show", school_course_path(school_id: @school.id, id: course.id) %>
          <%= link_to "Destroy", school_course_path(school_id: @school.id, id: course.id), method: :delete, data: { confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>    
  </tbody>
</table>
